<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- <script src="/app.js" charset="utf-8"></script> -->
<script type="text/javascript">
  $(".mode-button").click(() => {
    $("body").toggleClass("light-theme")
    $("body").toggleClass("dark-theme")
    $(".heading").toggleClass("light-theme-elements")
    $(".heading").toggleClass("dark-theme-elements")
    $(".mode-button").toggleClass("light-theme-elements")
    $(".mode-button").toggleClass("dark-theme-elements")
    $(".items").toggleClass("light-theme-elements")
    $(".items").toggleClass("dark-theme-elements")
    $(".btn").toggleClass("light-theme-elements")
    $(".btn").toggleClass("dark-theme-elements")
    $(".dropdown-menu").toggleClass("light-theme-elements")
    $(".dropdown-menu").toggleClass("dark-theme-elements")
    $(".dropdown-item").toggleClass("light-theme-elements")
    $(".dropdown-item").toggleClass("dark-theme-elements")
    $("input").toggleClass("light-theme-elements")
    $("input").toggleClass("dark-theme-elements")
    $(".dropdown").toggleClass("light-theme")
    $(".dropdown").toggleClass("dark-theme")
    $(".heading").toggleClass("shadow")
    $("input").toggleClass("shadow")
    $(".btn").toggleClass("shadow")
    $(".back-button").toggleClass("shadow")
    $(".back-button").toggleClass("light-theme-elements")
    $(".back-button").toggleClass("dark-theme-elements")
  })
</script>
</body>
</html>
